main {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 30px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

img {
  width: 300px;
}

.italic {
  font-weight: lighter;
}

.row {
  margin: 15px;
}

.addButton {
  width: 200px;
  padding: 5px;
}
