<h2>{{ chosenLabels.header }}</h2>
<main>
  <form
    action=""
    [formGroup]="appointmentGroup"
    (ngSubmit)="submitAppointment()"
  >
    <section class="input-section">
      <label [for]="chosenLabels.appointmentType">{{
        chosenLabels.appointmentType
      }}</label>
      <select
        [name]="chosenLabels.appointmentType"
        id=""
        formControlName="appointmentType"
      >
        @for (item of chosenLabels.appointmentTypeOptions; track $index) {
        <option [value]="$index">{{ item }}</option>
        }
      </select>
    </section>

    <section class="input-section">
      <label [for]="chosenLabels.appointmentDate">{{
        chosenLabels.appointmentDate
      }}</label>
      <input
        type="date"
        [name]="chosenLabels.appointmentDate"
        id=""
        [(ngModel)]="date"
        [min]="todayDate"
        formControlName="appointmentDate"
        (change)="showAppointments(date)"
      />
    </section>

    <section class="input-section">
      <label [for]="chosenLabels.appointmentHour">{{
        chosenLabels.appointmentHour
      }}</label>
      <select
        [name]="chosenLabels.appointmentHour"
        id=""
        [(ngModel)]="hour"
        formControlName="appointmentHour"
      >
        @for (item of currentDayAppointments; track $index) {
        <option [value]="item.hour">{{ item.hour }}</option>
        }
      </select>
    </section>

    <section class="input-section">
      <label [for]="chosenLabels.appointmentName">{{
        chosenLabels.appointmentName
      }}</label>
      <input
        type="text"
        [name]="chosenLabels.appointmentName"
        id=""
        formControlName="appointmentName"
      />
    </section>

    <section class="input-section">
      <label [for]="chosenLabels.appointmentSurname">{{
        chosenLabels.appointmentSurname
      }}</label>
      <input
        type="text"
        [name]="chosenLabels.appointmentSurname"
        id=""
        formControlName="appointmentSurname"
      />
    </section>

    <section class="input-section">
      <label [for]="chosenLabels.appointmentPhone">{{
        chosenLabels.appointmentPhone
      }}</label>
      <input
        type="number"
        [name]="chosenLabels.appointmentPhone"
        id=""
        min="0"
        step="1"
        formControlName="appointmentPhone"
      />
    </section>

    <button type="submit" [disabled]="!appointmentGroup.valid" class="hover">
      {{ chosenLabels.button }}
    </button>
  </form>
  <main></main>
</main>
