<main>
  <h2>{{ chosenLabels.header }}</h2>
  @if (!loggedIn) {
  <h2>{{ chosenLabels.loginHeader }}</h2>
  <form action="" [formGroup]="loginGroup" (ngSubmit)="submitLogin()">
    <section class="input-section">
      <label for="">{{ chosenLabels.loginId }}</label>
      <input type="number" name="" id="" formControlName="loginId" />
    </section>
    <button type="submit">{{ chosenLabels.loginHeader }}</button>
  </form>
  } @if (loggedIn) {
  <h2>{{ chosenLabels.dateHeader }}</h2>
  <form action="" [formGroup]="manageGroup">
    <section class="input-section">
      <label for="">{{ chosenLabels.dateLabel }}</label>
      <input
        type="date"
        [name]="chosenLabels.date"
        id=""
        [min]="todayDate"
        formControlName="manageDate"
        [(ngModel)]="date"
        (change)="showAppointments(date)"
      />
    </section>
  </form>
  <section class="appointments">
    @for (item of currentDayAppointments; track $index) {
    <section class="input-section">
      <label for="">
        {{ item.hour }}
        {{ item.patient?.name }}
        {{ item.patient?.surname }}
      </label>

      <button (click)="cancelAppointment(item.date, item.hour)">
        {{ chosenLabels.cancelButton }}
      </button>
    </section>
    <section class="input-section">
      @if(showAppointmentDetails) {
      <label for=""
        >{{ item.patient?.phone }}
        {{ currentAppointmentTypeLabels.type[item.type] }}</label
      >
      }
    </section>
    }
  </section>
  <h2 (click)="setShowRepairDetails(!showRepairDetails)">
    {{ chosenLabels.repairHeader }}
  </h2>
  <ul>
    @for (item of repairs; track $index) {
    <li>
      <button (click)="findRepair(item.repairId)">{{ item.repairId }}</button>
    </li>
    }
  </ul>
  <form action="" [formGroup]="repairGroup">
    <!-- <section class="input-section">
      <label for="">{{ chosenLabels.repairId }}</label>
      <input type="number" formControlName="reportId" />
    </section> -->
    <!-- <button (click)="findRepair()">{{ chosenLabels.findButton }}</button> -->
    @if(showRepairDetails) {
    <section class="input-section">
      <label for="">{{ chosenLabels.findPhone }}</label>
      <label for="">{{ currentRepair.phone }}</label>
    </section>
    <section class="input-section">
      <label for="">{{ chosenLabels.findDescription }}</label>
      <label for="">{{ currentRepair.desc }}</label>
    </section>
    <section class="input-section">
      <label for="">{{ chosenLabels.date }}</label>
      <label for="">{{ currentRepair.date }}</label>
    </section>
    <section class="input-section">
      <label for="">{{ chosenLabels.repairStatus }}</label>
      <label for="">{{
        currentRepairStatusLabels.status[currentRepair.status]
      }}</label>
    </section>
    <section class="input-section">
      <label for="">{{ chosenLabels.repairType }}</label>
      <label for="">
        {{ currentRepairTypeLabels.type[currentRepair.type] }}
      </label>
    </section>
    }
    <section class="input-section">
      <label for="">{{ chosenLabels.repairButton }}</label>
      <select name="" id="" formControlName="reportStatus">
        @for (item of chosenLabels.repairStatusOptions; track $index) {
        <option [value]="$index">{{ item }}</option>
        }
      </select>
    </section>
    <button type="submit" (click)="changeRepairStatus()">
      {{ chosenLabels.repairButton }}
    </button>
  </form>
  }
</main>
