<header>
  <h2 (click)="changeCategory('glasses')" class="hover-grow">
    {{ chosenLabels.categories[0] }}
  </h2>
  <h2 (click)="changeCategory('contacts')" class="hover-grow">
    {{ chosenLabels.categories[1] }}
  </h2>
  <h2 (click)="changeCategory('accesories')" class="hover-grow">
    {{ chosenLabels.categories[2] }}
  </h2>
</header>

<main>
  <aside>
    <input type="text" name="" id="" [placeholder]="chosenLabels.searchLabel" />
    <h3>{{ chosenLabels.filtersLabel }}</h3>
  </aside>
  <section id="main-shop">
    @for (item of chosenCategories; track $index) {
    <section class="cart-item hover-grow" (click)="goToShopItem(item)">
      <img [src]="item.itemImgUrl" alt="" />
      <span>{{ item.itemName }}</span>
      <span>{{ item.itemValue }}</span>
    </section>
    }
  </section>
</main>
