/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 !important;
  background-color: #1d1f21;
  color: white;
  font-family: Cascadia Mono;
}

.hover-grow {
  transition: transform 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
