main {
  width: 400px;
  margin: auto;
  margin-top: 30px;
}

form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-section {
  display: flex;
  flex-direction: row;
  label,
  input,
  select {
    width: 200px;
    text-align: center;
    box-sizing: border-box;

    padding: 5px;
  }
}

button,
h2 {
  width: 200px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
}

textarea {
  width: 200px;
  resize: none;
}
